* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

body * {
	margin: 0;
}

/* Loading screen */
#preloader {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	z-index: 100;

	background-color: rgb(37,36,44);
	color: rgba(255,255,255, 0.9);
}

#preloader .txt {
	position: absolute;
	top: 50%;
	left: 50%;

	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#preloader .txt-perc {
	font-size: 35px;
	font-family: "Josefin Slab";
	opacity: 1;
	margin: 0 0 6px 0;
	max-width: 400px;

	text-align: center;
}

#preloader .progress {
	width: 100px;
	height: 3px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 auto 15px auto;
}

#preloader .progress span {
	display: block;
	width: 0;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
}

.is-loading {
	overflow: hidden;
}

/* Header, footer background color */
.header, .footer {
	background-color: rgb(37,36,44);
}

/* Header */
.header {
	text-align: center;

	max-height: 200px;
	height: 20vh;
	width: 100%;
}

.header-title {
	font-size: 80px;
	font-family: "Josefin Slab";

	height: 20vh;
}

.header-title:hover {
	text-decoration: none;
	cursor: pointer;
}

.t1 {
	font-weight: 700;
	color: rgb(236,63,140);

	line-height: 20vh;
}

.t2 {
	font-weight: 400;
	color: rgb(57,177,198);

	line-height: 20vh;
}

/* Body */
body {
	background-color: rgb(50,50,60);

	font-family: "Josefin Sans";

	min-width: 900px;
}

/* Horizontal rule */
hr {
    border-style: solid;
    border-width: 0.1vh;
    border-color: rgb(55,175,195);
}

/* Content */
.content {
	margin-left: 10%;
	margin-right: 20%;

	color: rgba(255,255,255,0.9);
	font-size: 25px;
	line-height: 25px;
}

.content article {
	padding-top: 5vh;
	padding-bottom: 10vh;
}

.content header {
	padding: 2.5vh 0;
}

.content h1 {
	font-size: 50px;
	font-weight: bold;
	line-height: 55px;

	text-align: right;
}

.content section {
	padding: 2.5vh 0;

	text-align: justify;
}

.content p {
	padding: 0.5vh 0;
}

.content a {
	color: rgba(255,255,255,0.9);
	text-decoration: underline;
}

.content a:hover {
	color: rgb(35,225,115);
	text-decoration: underline;

	cursor: pointer;
}

#intro {
	min-height: 80vh;
}

.content table {
	width: 100%;

	font-size: 25px;
	line-height: 25px;
	color: rgba(255,255,255,0.9);
}

.content td, .content th {
	padding: 5px;
	text-align: right;
}

.content th {
	font-weight: bold;
}

.content table .table-info {
	text-align: left;
}

.content table .date {
	text-align: right;
}

/* Image */
.picture {
	height: 275px;
	width: 275px;

	float: right;

	border-radius: 100%;
	border-style: solid;
	border-width: 3px;
	border-color: rgb(55,175,195);

	margin: 10px;
}

/* Modal */
.modal {
    display: none;
    z-index: 2;

    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.4);
}

.modal-content {
	position: relative;

    background-color: rgb(250,250,250);

    margin: 10vh 10vw;
    height: 80vh;
    width: 80vw;

    border-radius: 2vh;

    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from { top: -300px; opacity: 0 } 
    to { top: 0; opacity: 1 }
}

@keyframes animatetop {
    from { top: -300px; opacity: 0 }
    to { top: 0; opacity: 1 }
}

.modal-content iframe {
	margin: 5%;
	height: 85%;
	width: 90%;
}

.modal-content .btnClose {
    color: rgb(200,200,200);

    position: fixed;
    top: 3vh;
    right: 2vw;

    font-size: 28px;
    font-weight: bold;
}

.modal-content .btnClose:hover,
.modal-content .btnClose:focus {
    color: rgba(200,200,200,0.5);
    cursor: pointer;
}

/* Navigation */
.nav {
	z-index: 1;

	min-width: 15vw;

	position: fixed;	
	top: 40vh;
	right: 2vw;

	font-size: 25px;
	line-height: 25px;
	text-align: right;
}

.nav li {
	list-style-type: none;
}

.nav-item {
	color: rgba(255,255,255,0.9);
	text-decoration: none;
}

.nav-item:hover {
	text-decoration: none;

	cursor: pointer;
}

.nav-item span {
	-moz-transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.nav-item-text {
	opacity: 0;
}

.nav-item:hover .nav-item-text {
	opacity: 1;
}

/* Footer */
.footer {
	height: 150px;

	text-align: center;
	color: rgba(255,255,255,0.9);
}

.footer a {
	color: rgba(255,255,255,0.9);
}

/* Social links */
.social-links {
	max-width: 400px;
	width: 50%;
	height: 60%;

	margin: auto;
}

.social-link {
	padding: 2vh 2vw;

	float: left;
	width: 25%;
	height: 100%;

	list-style-type: none;
}

.social-icon {
	min-height: 40px;
	max-height: 40px;
	min-width: 40px;
	max-width: 40px;

	-webkit-filter: saturate(0%);
	filter: saturate(0%);

	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icon:hover {
	-webkit-filter: saturate(100%);
	filter: saturate(100%);
}

/* Copyright notice */
.copyright {
	height: 40%;
	width: 100%;

	font-family: "Lucida Console", monospace;
	font-size: 15px;
}

.copyright a {
	text-decoration: underline;
}

.copyright a:hover {
	color: rgb(35,225,115);
	text-decoration: underline;

	cursor: pointer;
}

/* highlight color */
::selection {
	background-color: rgb(236,63,140);
    color: rgb(255,255,255);
}

::-moz-selection {
	background-color: rgb(236,63,140);
    color: rgb(255,255,255);
}

::-o-selection {
	background-color: rgb(236,63,140);
    color: rgb(255,255,255);
}

::-webkit-selection {
	background-color: rgb(236,63,140);
    color: rgb(252,255,255);
}

/* Sick scrollbar stuff */
::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

::-webkit-scrollbar-track {
	background-color: rgb(37,36,44);
}

::-webkit-scrollbar-thumb {
	background: rgba(236,63,140,0.8);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(236,63,140,0.4);
}

::-webkit-scrollbar-corner {
      background-color: rgb(37,36,44);
}
