* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

/* Loading screen */
#preloader {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	z-index: 100;

	font-size: 16px;

	background-color: rgb(37,36,44);
	color: rgba(255,255,255, 0.9);
}

#preloader .txt {
	position: absolute;
	top: 50%;
	left: 50%;

	font-size: 4vh;

	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#preloader .txt-perc {
	font-family: "Josefin Slab";
	margin: 0 0 5px 0;

	text-align: center;
}

#preloader .progress {
	width: 100px;
	height: 3px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 auto 15px auto;
}

#preloader .progress span {
	display: block;
	width: 0;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
}

.is-loading {
	overflow: hidden;
}

/* Header, footer background color */
.header, .footer {
	background-color: rgb(37,36,44);
}

/* Header */
.header {
	height: 150px;
	width: 100%;

	text-align: center;

	display: table;
}

.header-title {
	vertical-align: middle;

	font-size: 4em;
	font-family: "Josefin Slab";
	font-weight: 700;
	color: rgb(236,63,140);

	height: 100%;
	width: 100%;

	display: table-cell;
}

.t1 {
	font-weight: 700;
	color: rgb(236,63,140);
}

.t2 {
	font-weight: 400;
	color: rgb(57,177,198);
}

/* Body */
body {
	background-color: rgb(50,50,60);
	min-width: 500px;

	font-family: "Josefin Sans";
}

/* Horizontal rule */
hr {
	border-style: solid;
	border-width: 0.1vh;
	border-color: rgb(55,175,195);
}

/* Content */
.content {
	margin-left: 10%;
	margin-right: 10%;

	color: rgba(255,255,255,0.9);

	font-size: 25px;
}

.content article {
	padding-top: 5vh;
	padding-bottom: 10vh;
}

.content header {
	padding: 2.5vh 0;
}

.content h1 {
	font-size: 2em;
	font-weight: bold;

	text-align: right;
}

.content section {
	padding: 2.5vh 0;

	text-align: justify;
}

.content p {
	line-height: 1em;
	padding: 0.5vh 0;
}

.content a {
	color: rgba(255,255,255,0.9);
	text-decoration: underline;
}

.content a:hover {
	color: rgba(35,225,115,0.9);
	text-decoration: underline;

	cursor: pointer;
}

#intro {
	min-height: 80vh;
}

.content table {
	width: 100%;

	font-size: 25px;
	line-height: 25px;
	color: rgba(255,255,255,0.9);
}

.content td, .content th {
	padding: 5px;
	text-align: right;
}

.content th {
	font-weight: bold;
}

.content table .table-info {
	text-align: left;
}

.content table .date {
	text-align: right;
	min-width: 150px;
}

/* Image */
.picture {
	height: 275px;
	width: 275px;

	float: right;

	border-radius: 100%;
	border-style: solid;
	border-width: 3px;
	border-color: rgb(55,175,195);

	margin: 10px;
}

/* Modal */
.modal {
	display: none;
	z-index: 2;

	position: fixed;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;
	padding: 5% 10%;

	background-color: rgba(0,0,0,0.6);
}

.modal-header {
	position: relative;

	padding: 10px;
	height: 10%;

	text-align: right;
}

.modal-header #btnClose {
	color: rgb(200,200,200);

	font-size: 28px;
	font-weight: bold;
}

.modal-header #btnClose:hover,
.modal-header #btnClose:focus {
	color: rgba(200,200,200,0.5);
	cursor: pointer;
}

.modal-content {
	position: relative;

	background-color: rgb(250,250,250);

	padding: 10px;
	height: 90%;

	border-radius: 2%;
}

.modal-content iframe {
	margin: 5%;
	height: 85%;
	width: 90%;
}

/* Navigation */
.nav {
	z-index: 1;

	min-width: 15vw;

	position: fixed;	
	top: 40vh;
	right: 2vw;

	font-size: 25px;
	line-height: 25px;
	text-align: right;
}

.nav li {
	list-style-type: none;
}

.nav-item {
	color: rgba(255,255,255,0.9);
	text-decoration: none;
}

.nav-item:hover {
	text-decoration: none;

	cursor: pointer;
}

.nav-item span {
	-moz-transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.nav-item-text {
	opacity: 0;
}

.nav-item:hover .nav-item-text {
	opacity: 1;
}

/* Footer */
.footer {
	height: 150px;

	text-align: center;
	color: rgba(255,255,255,0.9);
}

.footer a {
	color: rgba(255,255,255,0.9);
}

/* Social links */
.social-links {
	max-width: 400px;
	height: 60%;

	margin: auto;
}

.social-link {
	padding: 20px;

	float: left;
	width: 25%;
	height: 100%;
	max-height: 40px;

	list-style-type: none;
	font-size: 40px;
}

.social-icon {
	text-align: center;
	text-decoration: none;

	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icon:hover {
	color: rgba(35,225,115,0.9);
}

/* Copyright notice */
.copyright {
	height: 40%;
	width: 100%;

	font-size: 20px;
}

.copyright a:hover {
	color: rgb(35,225,115);

	cursor: pointer;
}

/* highlight color */
::selection {
	background-color: rgb(236,63,140);
	color: rgb(255,255,255);
}

::-moz-selection {
	background-color: rgb(236,63,140);
	color: rgb(255,255,255);
}

::-o-selection {
	background-color: rgb(236,63,140);
	color: rgb(255,255,255);
}

::-webkit-selection {
	background-color: rgb(236,63,140);
	color: rgb(252,255,255);
}

/* Sick scrollbar stuff */
::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

::-webkit-scrollbar-track {
	background-color: rgb(37,36,44);
}

::-webkit-scrollbar-thumb {
	background: rgba(236,63,140,0.8);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(236,63,140,0.4);
}

::-webkit-scrollbar-corner {
	  background-color: rgb(37,36,44);
}
